configs/*.yaml
scripts/bus-data/*
scripts/log/*
scripts/debugStats/*
scripts/figs/*
scripts/log/*
scripts/summary/*
scripts2/__pycache__/*
janus/build/*
ncc/janus/build/*
ncc/janus/.lock-waf_linux_build
bazel-bin
bazel-out
bazel-testlogs
bazel-tiga
bazel-Tiga
bazel-*/
*.deb
ncc/janus/.waf3*
ncc/janus/src/rrr/pylib/simplerpc/*.so
ncc/janus/src/rrr/pylib/simplerpc/_pyrpc.cpython-310-x86_64-linux-gnu.so
rrr/pylib/simplerpcgen/*.pyc
rrr/pylib/*/*.pyc
rrr/pylib/*/__pycache__/*

MODULE.bazel.lock
.idea/
